$color_primary: #617aa0;
$color_primary_dark: #303c4f;
$color_primary_light: #cbdaef;

$color_secondary: #a07a61;

$color_grident: linear-gradient(to right, $color_primary 0%, $color_secondary 100%);
$color_link: #1f78f4;
$small_screen: 500px;

a {
    text-decoration: none;
    color: $color_link;
}
a.unset {
    all: unset;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.fadein-effect{-webkit-animation:fadein .5s cubic-bezier(.25,.46,.45,.94) both;animation:fadein .5s cubic-bezier(.25,.46,.45,.94) both}
.alpha-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}